
<h1 class="header">Question Details</h1>


<h2 class="question"><%= @question.id %>.) <%= @question.title %></h2>
<h2>Description:</h2>
<p> <%= @question.description %></p>



<%= link_to 'Answer This Question', new_question_answer_path(@question) %>

<%= link_to 'Edit this Question', edit_question_path(@question) %>

<%= button_to "Delete this Question", question_path(@question), method: :delete %>

<h2>Answers for this Question</h2>
<% @answers.each do |a| %>
 <p>-<%= a.description %></p>
 <% end %>

<%= link_to 'Back to Questions', questions_path %>
